@mixin landing_div($color) {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: $color;
    position: relative;
}

@mixin landing_h1 {
    padding-top: 80px;
    font-size: 4.2em;
    font-weight: 800;
}
@mixin landing_h2($color){
    font-size: 46px;
}
@mixin landing_h3($color){
    font-size: 26px;
}
@mixin landing_p($color){
    padding-top: 50px;
    font-size: 24px;
    line-height: 1.58;
}

@mixin btn_tag {
    cursor: pointer !important;
    text-align: center !important;
    border: 1px solid rgb(176, 176, 176) !important;
    outline: currentcolor none medium !important;
    margin: 0px !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 30px !important;
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    position: relative !important;
    padding: 8px 16px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}
@mixin normal_div($color) {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: $color;
    position: relative;
}
