@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "mixins";

.bg-light
{
    background-color: transparent !important;
}
.navbar-nav .nav-link span
{
    color: #555;
}

.navbar-nav .nav-item .nav-link
{
    color: #555;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #555;
}

.navbar-nav .active
{
    color: #555;
    border: 1px solid #999;
    border-radius: 5px;
}
.navbar-nav .active .nav-link
{
    color: #555;
}

/* main */
.header-home
{
    @include landing_div(transparent, 100vh);

    h1
    {
        @include landing_h1;
    }

}
.card
{
    border-radius: 16px !important;
    border: 1px solid #fff;    
}

.ux_read
{
    .toc
    {
        padding-top: 100px; 

    }
}

h2
{
    font-size: 1.8em;
    padding: 50px 0px;
}

.input-group-text
{
    background-color: #fff;
    border-right: none;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

#form-input-search
{
    border-left: none;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.input-group, .input-group-lg
{
    border-top-left-radius: 16px !important;
}

.jumbanner
{
    margin: 50px 0px;
    background: white;
    border-radius: 16px !important;
}
.nav-link
{
    word-break: break-word !important; 
}
footer
{
    // @include landing_div($dark, 30vh);
    bottom: 0;
    text-align: center;
    // color: $light;
}
