@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "mixins";


body
{ overflow-x: hidden; }

.w-search-bar
{
    margin: 2.25px 15%;
    display: none;
}
.content-wrap
{
    display: block;
    overflow: hidden;
}
.about-wrapper
{
    margin: 2.25px 15%;

    p
    {
        font-size: 1.4em;
    }
}

.hero
{
    @media(max-width: 768px)
    {
        h1
        {
            font-size: 2.5em !important; 
        }
        p
        {
            font-size: 1.2em !important;
        }
    }
    @media(min-width: 768px)
    {
        margin: 0.2px 15%;
        p
        {
            font-size: 1.4em;
        }
    }
}

.mx-login
{
    @include mx-center;
}
.image-upload
{
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    background: #f2f2f2;
}
.image-upload > input {
      display: none;
  }
  .image-upload svg
  {
              cursor: pointer;
          }
.jumbo-skew
{
    @media(min-width: 768px)
    {
        position: absolute;
        left: auto;
        top: -88%;
        right: -26%;
        bottom: auto;
        width: 90%;
        height: 150%;
        border-radius: 94px;
        background-color: #f2faff;
        -webkit-transform: rotate(-23deg);
        -ms-transform: rotate(-23deg);
        transform: rotate(-23deg);
    }
}

.marked-down
{
    blockquote 
    {
        padding: 0 1em;
        color: #6a737d;
        border-left: .25em solid #dfe2e5;
    }
}
.bg-light
{
    background-color: transparent !important;
}

.navbar-nav .nav-link span
{
    color: #555;
}

.navbar-light .navbar-nav .active > .nav-link
{
    color: #fff;
}
.navbar-nav .nav-item .nav-link
{
    color: #555;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #555;
}

.navbar-nav .active
{
    color: #fff !important;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    padding-left: 10px; 
    padding-right: 10px; 
}
.navbar-nav .active .nav-link
{
    color: #fff;
}

/* main */
.landing-header
{
    @media(min-width: 768px)
    {
        min-height: 100vh;

        h1
        {
            @include h-1;
            color: $dark;
            font-size: 4.8em;
        }

        img
        {
            max-width: 100%; 
        }
    
    }
    @media(max-width: 768px)
    {
        min-height: 100vh;
        h1
        {
            @include h-1;
            font-size: 2.0em;
            line-height: 1.3;
            padding-right: 8vw;
        }

        .typed-element
        {
            
            h2
            {
                font-size: 1.8em;
            }
        }
    }
}
.card, .jumbotron, .list-group-item
{
    border-radius: 16px !important;
}

.jumbotron .display-3
{
    padding-top: 10px !important;
}

.card-img
{
   border-top-left-radius: 16px !important; 
   border-top-right-radius: 16px !important; 
   border-bottom-right-radius: 0px !important; 
   border-bottom-left-radius: 0px !important; 
}
.uni_group
{
.card-columns .card
{
    border-radius: 16px !important;
}
}
.ux_read
{
    .toc
    {
        padding-top: 100px; 

    }
}

h2
{
    font-size: 1.8em;
    padding: 30px 0px;
}

h1
{
    @include h-1;
    color: $dark;
    font-size: 3.8em;
}
.input-group-text
{
    background-color: #fff;
    border-right: none;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

#form-input-search
{
    border-left: none;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.input-group, .input-group-lg
{
    border-top-left-radius: 16px !important;
}

.jumbanner
{
    margin: 50px 0px;
    background: white;
    border-radius: 16px !important;
}

.no-border
{
    border: none;
}
.jumb_landing
{
    padding: 30px 10%;

    .jumb_text
    {
        padding: 20px 0px;
        @media(min-width: 768px)
        {
            font-size: 44px;  
            width: 75%;
        }
        @media(max-width: 768px)
        {
            font-size: 24px;  
        }
    }
}
.nav-link
{
    word-break: break-word !important; 
}

.social .s-h1
{
    padding-top: 100px;
}
.careers
{
    padding: 130px 0px !important;

    h1
    {
        padding-top: 100px !important; 
    }
}
.discover, .social
{
    padding: 120px 0px;
}
footer
{
    // @include landing_div($dark, 30vh);
    bottom: 0;
    text-align: center;
    // color: $light;
}
