@import "variables";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import "mixins";


body
{ overflow-x: hidden; }

.jumbo-skew
{
    @media(min-width: 768px)
    {
        position: absolute;
        left: auto;
        top: -88%;
        right: -26%;
        bottom: auto;
        width: 90%;
        height: 150%;
        border-radius: 94px;
        background-color:rgb(245, 241, 234); // #f2faff;
        -webkit-transform: rotate(-23deg);
        -ms-transform: rotate(-23deg);
        transform: rotate(-23deg);
    }
}

.bg-light
{
    background-color: transparent !important;
}

.navbar-nav .nav-link span
{
    color: #555;
}

.navbar-light .navbar-nav .active > .nav-link
{
    color: #fff;
}
.navbar-nav .nav-item .nav-link
{
    color: #555;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #555;
}

.navbar-nav .active
{
    color: #fff !important;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    padding-left: 10px; 
    padding-right: 10px; 
}
.navbar-nav .active .nav-link
{
    color: #fff;
}

/* main */
h1
{
    @media(max-width: 768px)
    {
        font-size: 2.2em !important;
        text-align: center;
    }
    padding-top: 40px;
    font-weight: 900;
    color: $dark;
}

p
{
    @media(max-width: 768px)
    {
        text-align: center;
    }
    padding-top: 20px;
    line-height: 1.8;
    font-weight: 300;
}
.landing-header
{
    @media(min-width: 768px)
    {
        min-height: 80vh;

        .section-header
        {
            padding-top: 5rem;
        }
        h1
        {
            font-size: 4.0em;
        }
        p
        {
            font-size: 1.6rem;
        }

        img
        {
            max-width: 100%; 
        }
    
    }
    @media(max-width: 768px)
    {
        min-height: 100vh;
        padding: 1.0px 0.5rem;
        h1
        {
            font-size: 2.0em !important;
            line-height: 1.3;
            text-align: left !important;
        }
        .typed-element
        {
            padding-top: 10px !important; 
        }
        p
        {
            font-size: 1.25rem;
            text-align: left !important;
        }

        .typed-element
        {
            
            h2
            {
                font-size: 1.8em;
            }
        }
    }
}

.give-back
{
    @media(min-width: 768px)
    {
        p
        {
            margin: 1.2rem 20%;
        }
    }

    img
    {
    }
}

.for-companies-2
{
    @media(min-width: 768px)
    {
        padding: 150px 0.2px !important;
    }
    @media(max-width: 768px)
    {
        padding: 80px 0.2px !important;
    }

    img
    {
        border-radius: 25px !important; 
    }
}
.card, .jumbotron, .list-group-item
{
    border-radius: 16px !important;
}

.jumbotron .display-3
{
    padding-top: 10px !important;
}

.card-img
{
   border-top-left-radius: 16px !important; 
   border-top-right-radius: 16px !important; 
   border-bottom-right-radius: 0px !important; 
   border-bottom-left-radius: 0px !important; 
}
.uni_group
{
.card-columns .card
{
    border-radius: 16px !important;
}
}
.ux_read
{
    .toc
    {
        padding-top: 100px; 

    }
}

h2
{
    font-size: 1.8em;
    padding: 30px 0px;
}

h1
{
    color: $dark;
    font-size: 3.8em;
}
.input-group-text
{
    background-color: #fff;
    border-right: none;
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
}

#form-input-search
{
    border-left: none;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.input-group, .input-group-lg
{
    border-top-left-radius: 16px !important;
}

.jumbanner
{
    margin: 50px 0px;
    background: white;
    border-radius: 16px !important;
}

.no-border
{
    border: none;
}
.jumb_landing
{
    padding: 30px 10%;

    .jumb_text
    {
        padding: 20px 0px;
        @media(min-width: 768px)
        {
            font-size: 44px;  
        }
        @media(max-width: 768px)
        {
            font-size: 24px;  
        }
    }
}
.nav-link
{
    word-break: break-word !important; 
}

.social .s-h1
{
    padding-top: 100px;
}
.careers
{
    padding: 130px 0px !important;

    h1
    {
        padding-top: 100px !important; 
    }
}
.discover, .social
{
    padding: 120px 0px;
}

.card-profile
{
    margin: 0.25px 15% !important;
    border: none;
}
footer
{
    // @include landing_div($dark, 30vh);
    bottom: 0;
    text-align: center;
    // color: $light;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ 
{
  transform: translateX(10px);
  opacity: 0;
}
