@import "variables";

.booking_form
{
    border: 1px solid $light;
    border-radius: 25px;
    padding: 15px 20px;
}

.info_chunk
{
    padding: 50px 0px;
    min-height: 200px;
}
.b-top
{
    padding: 20px 50px;
    margin: 0px 50px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
}

.footer-class
{
    display: none;
}
