@import "variables";
@import "mixins";

.login
{
    @include normal_div(transparent, 40px);
}

.user-login
{
    @media(min-width: 768px)
    {
        margin: 10px 10vw;
    }
    border: 1px solid $light;
    border-radius: 30px;
    padding: 30px;
}

.white_space
{
    min-height: 30vh;
}
