@import "variables";
@import "mixins";


.cta_book
{
    border: 1px solid $light;
    border-radius: 25px;
    background-color: $primary;

    a {
        color: #fff !important;
    }
}
.settings, .dashboard
{
   .content-box
   {
        padding: 50px 50px !important; 
   }

   .card,
   {
        border-radius: 16px !important; 
        position: relative;
   }

   .modal, .modal-dialog, .modal-content
   {
        border-radius: 16px !important; 
        position: relative;
   
   }
}
