.header-home
{
    min-height: 50vh;
    background-color: #fafafa;
}

.navbar-nav .nav-link span
{
    color: #555;
}

.navbar-nav .nav-item .nav-link
{
    color: #555;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #555;
}

.navbar-nav .active
{
    color: #555;
    border: 1px solid #999;
    border-radius: 5px;
}
.navbar-nav .active .nav-link
{
    color: #555;
}
